div{background-color: rgb(102, 96, 96);;
    margin-top: 2.5cm;
    height: 50px;
    color: rgb(22, 21, 21);
    font-size: .5cm;
    
    }

a { text-decoration: none;
    color:rgbrgb(22, 21, 21);  }     
body {
        background-image: url("../class project/image/wall.jpg");
        background-size: cover;
    }
           
.citytech {
                opacity: transparent;
            }
.li-b{
    text-align: center;
    display: block;
    color: rgb(158, 153, 153);
    border-right: none;
}
.li-c {
    float: right;
    display: block;
    color: rgb(158, 153, 153);
    border-right: none;
}

p{
    color:rgb(22, 21, 21);
}